@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Coiny&family=Montserrat:ital,wght@0,400;1,600&family=Poppins&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color:black;
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}